/**
 * @name everforest
 * @description A dark mode discord theme based on the everforest color palette.
 * @author talwat
 * @version 2.0
 * @authorId 741143876563370086
 * @source https://github.com/talwat/everforest-BD
 */

 * {
    /* Color Definitions */
    --light-bg-0: #f8f0dc;
    --light-bg-1: #efead4;
    --light-bg-2: #e9e5cf;
    --light-bg-3: #e1ddc9;
    --light-bg-4: #dcd8c4;
    --light-bg-5: #b9c0ab;
    --light-fg: #5c6a72;

    --dark-bg-0: #2f383e;
    --dark-bg-1: #374247;
    --dark-bg-2: #404c51;
    --dark-bg-3: #4a555b;
    --dark-bg-4: #525c62;
    --dark-bg-5: #596763;
    --dark-fg: #d3c6aa;

    --blue: #7fbbb3;
    --dark-blue: #3b5360;
    --green: #a7c080;
    --orange: #e69875;
    --red: #e67e80;
    --dark-red: #4e3e43;
    --dark-green: #404d44;

    /* Brand experiment */
    --brand-experiment: var(--bg-4);
    --brand-experiment-05a: var(--dark-blue);
    --brand-experiment-200: var(--fg);
    --brand-experiment-30a: var(--blue);
    --brand-experiment-400: var(--blue);
    --brand-experiment-500: var(--blue);
    --brand-experiment-560: var(--bg-2);
    --brand-experiment-600: var(--bg-1);

    /* Universal */
    --ping: var(--red);
    --background-accent: var(--green);

    /* Normal text */
    --text-normal: var(--fg);
    --text-muted: #859289;
    --text-link: var(--blue);
    --text-link-low-saturation: var(--dark-blue);
    --text-spotify: var(--blue);
    --text-positive: var(--green);
    --text-warning: var(--orange);
    --text-danger: var(--red);
    --text-brand: var(--green);

    /* Interactive */
    --interactive-hover: var(--green);
    --interactive-normal: var(--fg);
    --interactive-active: var(--fg);
    --interactive-muted: var(--bg-5);
    
    /* Info */
    --info-positive-background: var(--green);
    --info-positive-foreground: var(--green);
    --info-positive-text: var(--fg);

    --info-help-background: var(--blue);
    --info-help-foreground: var(--fg);
    --info-help-text: var(--fg);

    --info-warning-background: #544247;
    --info-warning-foreground: var(--orange);
    --info-warning-text: var(--fg);

    --info-danger-background: var(--dark-red);
    --info-danger-foreground: var(--red);
    --info-danger-text: var(--fg);

    /* Status */
    --status-positive: var(--green);
    --status-positive-background: var(--green);
    --status-positive-text: var(--fg);

    --status-warning: var(--orange);
    --status-warning-background: var(--orange);
    --status-warning-text: var(--fg);

    --status-danger: var(--red);
    --status-danger-background: var(--red);
    --status-danger-text: var(--fg);

    /* Button danger/positive */
    --button-danger-background: var(--red);
    --button-danger-background-hover: var(--dark-red);
    --button-danger-background-active: var(--red);
    --button-danger-background-disabled: var(--dark-red);

    --button-positive-background: var(--green);
    --button-positive-background-hover: var(--dark-green);
    --button-positive-background-active: var(--green);
    --button-positive-background-disabled: var(--dark-green);

    /* Button Outline */
    --button-outline-danger-background: var(--red);
    --button-outline-danger-background-hover: var(--red);
    --button-outline-danger-background-active: var(--dark-red);
    --button-outline-danger-background-disabled: var(--dark-red);
    --button-outline-danger-text: var(--fg);
    --button-outline-danger-text-hover: var(--dark-red);
    --button-outline-danger-text-active: var(--fg);
    --button-outline-danger-text-disabled: var(--fg);
    --button-outline-danger-border: var(--red);
    --button-outline-danger-border-hover: var(--red);
    --button-outline-danger-border-active: var(--dark-red);
    --button-outline-danger-border-disabled: var(--red);

    --button-outline-positive-background: var(--green);
    --button-outline-positive-background-hover: var(--green);
    --button-outline-positive-background-active: var(--dark-green);
    --button-outline-positive-background-disabled: var(--dark-green);
    --button-outline-positive-text: var(--green);
    --button-outline-positive-text-hover: var(--dark-green);
    --button-outline-positive-text-active: var(--green);
    --button-outline-positive-text-disabled: var(--green);
    --button-outline-positive-border: var(--green);
    --button-outline-positive-border-hover: var(--green);
    --button-outline-positive-border-active: var(--dark-green);
    --button-outline-positive-border-disabled: var(--green);

    --button-outline-brand-background: var(--blue);
    --button-outline-brand-background-hover: var(--blue);
    --button-outline-brand-background-active: var(--dark-blue);
    --button-outline-brand-background-disabled: var(--dark-blue);
    --button-outline-brand-text: var(--blue);
    --button-outline-brand-text-hover: var(--dark-blue);
    --button-outline-brand-text-active: var(--blue);
    --button-outline-brand-text-disabled: var(--blue);
    --button-outline-brand-border: var(--blue);
    --button-outline-brand-border-hover: var(--blue);
    --button-outline-brand-border-active: var(--dark-blue);
    --button-outline-brand-border-disabled: var(--blue);

    --button-outline-primary-background: var(--bg-1);
    --button-outline-primary-background-hover: var(--bg-3);
    --button-outline-primary-background-active: var(--bg-0);
    --button-outline-primary-background-disabled: var(--bg-1);
    --button-outline-primary-text: var(--fg);
    --button-outline-primary-text-hover: var(--fg);
    --button-outline-primary-text-active: var(--fg);
    --button-outline-primary-text-disabled: var(--fg);
    --button-outline-primary-border: var(--bg-1);
    --button-outline-primary-border-hover: var(--bg-3);
    --button-outline-primary-border-active: var(--bg-0);
    --button-outline-primary-border-disabled: var(--bg-1);

    /* Backgrounds */
    --background-primary: var(--bg-0);
    --background-secondary: var(--bg-1);
    --background-secondary-alt: var(--bg-3);
    --background-tertiary: var(--bg-2);
    --background-floating: var(--bg-3);

    --background-modifier-selected: var(--bg-2);
    --background-modifier-active: var(--bg-2);
    --background-modifier-accent: var(--bg-2);
    --background-modifier-hover: var(--bg-1);
    
    --background-mentioned: var(--bg-1);
    --background-mentioned-hover: var(--bg-2);
    --background-message-hover: var(--bg-1);
    --background-message-automod: var(--dark-blue);
    --background-message-automod-hover: var(--dark-blue);

    --modal-background: var(--bg-2);
    --modal-footer-background: var(--bg-1);

    /* Channel Text Area */
    --channeltextarea-background: var(--bg-3);
    --channel-text-area-placeholder: var(--bg-5);

    /* Headers */
    --header-primary: var(--fg);
    --header-secondary: var(--fg);
    --header-spotify: var(--fg);
    --channels-default: #859289;

    /* Input */
    --input-background: var(--bg-1);
    --input-placeholder-text: var(--bg-5);
    --deprecated-text-input-border-hover: var(--bg-0);
    --deprecated-text-input-border-disabled: var(--bg-1);
    --deprecated-text-input-prefix: var(--fg);
    --deprecated-text-input-bg: var(--bg-0);
    --deprecated-text-input-border: var(--bg-0);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--bg-4);
    --scrollbar-auto-scrollbar-color-thumb: var(--bg-3);
    --scrollbar-auto-scrollbar-color-track: var(--bg-4);
    --scrollbar-auto-track: var(--bg-2);
    --scrollbar-thin-thumb: var(--bg-3);
    --scrollbar-thin-track: transparent;

    /* Secondary Button */
    --button-secondary-background: var(--bg-1);
    --button-secondary-background-hover: var(--bg-3);
    --button-secondary-background-active: var(--bg-0);
    --button-secondary-background-disabled: var(--bg-3);

    /* Quick Switcher */
    --deprecated-quickswitcher-input-background: var(--bg-1);
    --deprecated-quickswitcher-input-placeholder: var(--bg-5);

    /* Control Brand */
    --control-brand-foreground: var(--blue);
    --control-brand-foreground-new: var(--blue);

    --activity-card-background: #FF0000;
    --textbox-markdown-syntax: #FF0000;

    /* Spoiler */
    --spoiler-revealed-background: var(--bg-2);
    --spoiler-hidden-background: var(--bg-0);

    /* Elevation */
    --elevation-stroke: 0 0 0 1px var(--bg-5);
    --elevation-low: 0 1px 0 var(--bg-2),0 1.5px 0 var(--bg-0),0 2px 0 var(--bg-0);
    --elevation-medium: 0 4px 4px var(--bg-1);
    --elevation-high: 0 8px 16px var(--bg-0);

    /* Cards */
    --deprecated-card-bg: var(--bg-1);
    --deprecated-card-editable-bg: var(--bg-1);

    /* Other */
    --logo-primary: var(--fg);
    --channel-icon: var(--fg);

    /*color: var(--fg);*/
}

.theme-dark {
    --bg-0: var(--dark-bg-0);
    --bg-1: var(--dark-bg-1);
    --bg-2: var(--dark-bg-2);
    --bg-3: var(--dark-bg-3);
    --bg-4: var(--dark-bg-4);
    --bg-5: var(--dark-bg-5);
    --fg: var(--dark-fg);
}

.theme-light {
    --bg-0: var(--light-bg-0);
    --bg-1: var(--light-bg-1);
    --bg-2: var(--light-bg-2);
    --bg-3: var(--light-bg-3);
    --bg-4: var(--light-bg-4);
    --bg-5: var(--light-bg-5);
    --fg: var(--light-fg);
}

/* Better Discord */

#bd-pub-button:hover {
    background-color: var(--brand-experiment);
}

.bd-settings-title {
    color: var(--text-normal);
}

.bd-button {
    background-color: var(--bg-3);
    color: var(--fg);
}

.bd-button:hover {
    background-color: var(--dark-green);
}

.bd-select {
    background-color: var(--bg-1);
}

.bd-switch input:checked+.bd-switch-body {
    --switch-color: var(--green);
}

.bd-button.bd-button-danger {
    background-color: var(--red);
}

/* Non-standard cases */

.lookFilled-yCfaCM.colorPrimary-2AuQVo {
    color: var(--fg);
}

.theme-dark .addGamePopout-2SKNIV {
    background-color: var(--bg-0);
}

.theme-dark .footer-VCsJQY {
    background-color: var(--bg-1);
}

.theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo {
    color: var(--fg);
}

.theme-dark .bottomDivider-ZmTm-j {
    color: var(--fg);
    border-bottom-color: var(--bg-3);
}

.theme-dark .summaryInfo-3hcuop {
    color: var(--fg);
}

.fixed-cTX7Hp {
    color: var(--red) !important;
}

.theme-dark .uploadModal-2ie9O_ {
    background-color: var(--bg-2);
}

.theme-dark .paginator-1eqD2g {
    background-color: var(--bg-1);
}

.theme-dark .bottomDivider-ZmTm-j {
    background-color: var(--bg-1);
}

.colorBrand-ROmMP1 {
    color: var(--green);
}


.lookFilled-yCfaCM.colorGreen-3y-Z79 {
    color: var(--dark-green);
}

.lookFilled-yCfaCM.colorGreen-3y-Z79:hover {
    color: var(--fg);
}

.lookFilled-yCfaCM.colorBrandNew-2-gGsS {
    background-color: var(--bg-4);
    color: var(--fg);
}

.lookFilled-yCfaCM.colorBrandNew-2-gGsS:hover {
    background-color: var(--bg-3);
}

.lookFilled-yCfaCM.colorBrandNew-2-gGsS:active {
    background-color: var(--bg-2);
}

.colorDefault-2K3EoJ.focused-3afm-j,
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    background-color: var(--background-modifier-hover) !important;
}

.lookFilled-1Gx00P {
    background-color: var(--green) !important;
}

.lookFilled-1Gx00P:active,
.lookFilled-1Gx00P:hover {
    background-color: var(--dark-blue) !important;
}

.lookOutlined-3sRXeN:not(.colorWhite-rEQuAQ) {
    color: var(--green);
    border-color: var(--green);
}

.colorDefault-2K3EoJ.focused-3afm-j,
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    color: var(--fg);
}

.tabBody-2dgbAs {
    background-color: var(--background-primary);
}

.container-ZMc96U.themed-Hp1KC_ {
    background-color: var(--bg-0);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    color: var(--fg);
}

.lookFilled-yCfaCM.colorRed-rQXKgM {
    color: var(--dark-red);
}

.lookFilled-yCfaCM.colorRed-rQXKgM:hover {
    color: var(--fg);
}

.option-ayUoaq:after {
    background: transparent;
}

.theme-dark .imageUploaderIcon-2OHmFu {
    background-color: var(--fg);
}

.theme-dark .autocomplete-3NRXG8 {
    background-color: var(--bg-1);
}

.bd-addon-views .bd-view-button.selected {
    background-color: var(--green);
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    color: var(--fg);
}

/* Non color changes, delete if you only want a different colorscheme */

.floating-window {
    border-radius: 0.75rem;
}

.panels-3wFtMD {
    border-top-left-radius: 0.75rem !important;
    border-top-right-radius: 0.75rem !important;
}

.searchBar-3TnChZ {
    border-radius: 10px !important;
}