* {
    border: 1px solid transparent;
    border-radius: 0px;
    margin: 0px 1px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Blex Mono Nerd Font Mono", "Font Awesome 6 Free";
    font-size: 13px;
    min-height: 0px;
}

@import "everforest.css";

window#waybar {
    border: none;
    background-color: @bg0;
    color: @fg;
    transition-property: background-color;
    transition-duration: .5s;
    opacity: .74; 
}

.modules-left button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 5px;
}

.modules-left button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 5px;
}

#workspaces button {
    padding: 0px 5px;
    background-color: @bg2;
    color: @fg;
}

#workspaces button:hover {
    background-color: @bg_dim;
}

#workspaces button.focused {
    background-color: @green;
    color: @bg0;
}

#workspaces button.urgent {
    background-color: @red;
}

#window {
    padding: 0px 10px;
    margin: 0px 10px;
    border-radius: 5px;
    background-color: @bg2;
}
window#waybar.empty #window {
    background: none;
}

#cpu {
    border-radius: 5px 0px 0px 5px;
    padding: 0px 5px;
    background-color: @yellow;
    color: @bg_yellow;
}

#memory {
    padding: 0px 5px;
    background-color: @yellow;
    color: @bg_yellow;
}

#temperature {
    padding: 0px 5px;
    background-color: @yellow;
    color: @bg_yellow;
}
#temperature.critical {
    background-color: @red;
}

#disk {
    border-radius: 0px 5px 5px 0px;
    padding: 0px 5px;
    margin-right: 5px;
    background-color: @yellow;
    color: @bg_yellow;
}

#battery {
    border-radius: 5px 0px 0px 5px;	
}
#battery.bat2 {
    border-radius: 0px 5px 5px 0px;	
}

.modules-left :last-child {
     border-radius: 0px 5px 5px 0px;	
}
#battery {
    padding: 0px 5px;
    background-color: @aqua;
    color: @bg_yellow;
}
#battery.plugged {
    color: @fg;
    background-color: @bg_green;
}
#battery.charging {
    color: @fg;
    background-color: @bg_green;
}
#battery.critical:not(.charging) {
    background-color: @red;
    color: @fg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink {
    to {
        background-color: @fg;
        color: @bg_dim;
    }
}

#backlight {
    border-radius: 5px 0px 0px 5px;	
    padding: 0px 5px;
    margin-left: 5px;
    background-color: @blue;
    color: @bg_yellow;
}

#pulseaudio {
    padding: 0px 5px;
    border-radius: 0px 5px 5px 0px;	
    background-color: @blue;
    color: @bg_yellow;
}

#pulseaudio.muted {
    background-color: @grey1;
    color: @bg_yellow;
}

#tray {
    padding: 0px 5px;
    border-radius: 5px;
    margin-left: 5px;
    color: @bg_yellow;
    background-color: @bg_green;
}

#idle_inhibitor {
    padding: 0px 5px;
    border-radius: 5px;	
    margin-left: 5px;
    background-color: @bg2;
    color: @fg;
}
#idle_inhibitor.activated {
    background-color: @fg;
    color: @bg2;
}

#clock {
    padding: 0px 5px;
    border-radius: 5px;	
    margin: 0px 5px;
    background-color: @bg2;
}


