/**
 * @name MinimalCord
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Changes Discord enough to give it a fresh feel while also making it darker. Supports both Light and Dark themes.
 * @source https://github.com/DiscordStyles/MinimalCord
 * @website https://www.gibbu.me
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url("https://discordstyles.github.io/MinimalCord/base.css");

:root {
    /*
        Accent variable
        Use this website: https://htmlcolorcodes.com/color-picker/
        to get your desired RGB numbers. Then simply put each number in their respective area.
        R,G,B
    */
    --accent: 50, 131, 207;
    --border-radius: 5px;
    --discord-green: 67 181 129;
    --discord-yellow: 219 171 9;
    --discord-red: 215 58 73;
    --discord-purple: 89 54 149;
    --discord-invisible: 117 128 142;
    --discord-nitro: 255 115 250;
    --discord-blurple: 114 137 218;
    --discord-spotify: 29 185 84;
    --discord-twitch: 89 54 149;
    --discord-xbox: 16 124 16;
    --background-modifier-selected: var(--background-light);
    --background-modifier-hover: var(--background-alt);
    --background-modifier-active: var(--background-light);
    --channels-default: var(--text-normal);
    --message-padding: 10px; /* Spacing in the messages. MUST END IN px | DEFAULT: 10px */
    --message-spacing: 10px; /* Spacing around the messages. MUST END IN px | DEFAULT: 10px */

    /*
        To use a custom font. Visit https://fonts.google.com and select one to your liking.
        Now just follow this tutorial: https://imgur.com/a/CNbw7xC
    */
    --font: 'Roboto';
}

.theme-dark {
    --background-light:#3b4252;
    --background: #3b4252;
    --background-alt: #3b4252;
    --background-dark: #303644;
    --text-normal: #eceff4;
    --text-muted: #d8dee9;
    --text-focus: #fff;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semibold: 500;
    --font-weight-bold: 700;
    --box-shadow: 0 4px 9px rgba(0 0 0 / 0.4);
    --box-shadow-alt: 0 2px 5px rgba(0 0 0 / 0.3);
    --scrollbar-colour: var(--background-light);
    --edit-message-box: var(--background-light);
    --message-background: var(--background-alt);
  }
