.titlebar-close{ display: none !important }
.titlebar-buttonbox{ display: none !important }
#TabsToolbar { visibility: collapse !important; }
:root{
	--height:55px !important;
  --right-end:20px; /* default: 41px */
	--tab-min-height:25 !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] > #sidebar-header {
     visibility: collapse;  
}
/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
	display: none !important;
}
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
