.titlebar-close{ display: none !important }
#TabsToolbar { visibility: collapse !important; }
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Auto-hide bookmarks bar (show only on nav-bar hover)  */
#PersonalToolbar{
    opacity:0 !important;
    margin-top: -23px !important;
    transition: all 0.4s ease 0s !important;
}